:root{
    --blue:lightsteelblue;
    --black: #444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 beige;
    --border: .2rem solid var(--blue);
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #f5f5f5;
}


header{
    padding: .5rem 9%;
    top: 0;  right: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 .5rem 1.9rem rgba(0,0,0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
}
header a{
    font-size: 50px;
    color: #fff;
}


section{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2%;
    background-color: #f5f5f5;
}

form{
    width: 600px;
    margin: 20px;
    flex: 1 1 45rem;
    background: #fff;
    border: var(--light-color);
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0, .1);
    text-align: center;
    padding: 2rem;
    border-radius: 40px;
}
form .box{
    width: 100%;
    margin: .7rem 0;
    border-radius: 40px;
    font-size: 20px;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0, .1);
    border: groove;
}
form .btn{
    padding: 1rem 3rem;
    height: auto;
    width: auto;
    left: 0;
    top:0;
    margin: 10px;
    text-align: center;
    justify-content: center;
    border-radius: 12px;
    outline: none;
    border: none;
    background:var(--blue);
    font-size: 15px;
    color:#fff;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0, .1);
}
button:hover{
    color: var(--blue);
    background: var(--light-color);
    margin-left: 1rem;
}
.pp{
    width: 80px;
    height: 80px;

}
.aa{
    position: absolute;
    margin-left: 100%;
}
